body{
    background:#000;
    color:#fff;
    padding:0;
    margin:0;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    line-height:28px;
}
.container{
    position:relative;
    width:100%;
    height:100%;
    min-height:100vh;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    overflow:hidden;
}
.container::before{
    content:"";
    display:block;
    width:100%;
    height:100%;
    bottom:-50%;
    left:-50%;
    position:absolute;
    z-index:-1;
    opacity:.025;
    background:url('img/symbol.svg')no-repeat bottom center;
}
.container::after{
    content:"";
    display:block;
    width:100%;
    height:100%;
    top:-50%;
    right:-50%;
    position:absolute;
    z-index:-1;
    opacity:.025;
    background:url('img/symbol.svg')no-repeat top center;
}
.content{
    text-align:center;
    max-width:768px;
    margin:0 auto;
}
.logo{
    height:96px;
    display:block;
    margin:0 auto;
}
.contact{
    margin:96px auto 0 auto;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-direction:row;
            flex-direction:row;
    list-style-type:none;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align:start;
        -ms-flex-align:start;
            align-items:flex-start;
    padding:0;
}
.contact li{
    text-align:left;
    margin:0 36px;
    padding-left:36px;
}
.contact li::before{
    font-family:"Material Icons", sans-serif;
    display:inline-block;
    color:#fab90f;
    font-size:24px;
    line-height:24px;
    margin:0 12px 0 -36px;
    vertical-align:middle;
}
.contact li.about::before{
    content:"history";
}
.contact li.info::before{
    content:"info";
}
.contact li.email::before{
    content:"mail";
}
.contact a{
    color:#fff;
    text-decoration:none;
}
.contact a:hover,
.contact a:focus{
    color:#fff;
    text-decoration:underline;
}
.address{
    display:block;
    font-size:14px;
    line-height:20px;
    margin-top:.25em;
    color:#888;
}

/** Mailchimp signup **/
.newsletter{
    margin:56px auto 0 auto;
}
.newsletter__title{
    font-size:18px;
    margin:0 0 27px 0;
    text-align:center;
}
#mc_embed_signup form{
    padding:0;
}
.newsletter__form{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-direction:row;
            flex-direction:row;
    -ms-flex-wrap:nowrap;
        flex-wrap:nowrap;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
}
#mc_embed_signup input.email{
    height:54px;
    border-radius:0;
    background:transparent;
    border:1px solid #333;
    outline:none;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    line-height:28px;
    padding:0 18px;
    color:#fff;
}
#mc_embed_signup input.email::-webkit-input-placeholder{
    color: #888;
}
#mc_embed_signup input.email::-moz-placeholder { /* Firefox 19+ */
    color: #888;
}
#mc_embed_signup input.email:-ms-input-placeholder { /* IE 10+ */
    color: #888;
}
#mc_embed_signup input.email:-moz-placeholder { /* Firefox 18- */
    color: #888;
}
#mc_embed_signup .clear{
    margin-left:12px;
}
#mc_embed_signup .button{
    font-size:16px;
    font-weight:600;
    height:54px;
    padding:0 27px;
    border-radius:0;
    font-family: 'Open Sans', sans-serif;
    background-color:#fab90f;
    color:#000;
    letter-spacing:0;
    outline:none;
}
#mc_embed_signup .button:hover,
#mc_embed_signup .button:focus{
    background:#fff;
}
@media screen and (max-width:768px){
    .logo{
        height:72px;
    }
    .contact{
        margin-top:72px;
    }
    #mc_embed_signup .clear{
        width:auto;
    }
}
@media screen and (max-width:552px){
    .container::before{
        left:-25%;
        bottom:-10%;
    }
    .container::after{
        right:-25%;
        top:-10%;
        opacity:.05;
    }
    .logo{
        height:64px;
    }
    .contact{
        -webkit-box-pack:center;
            -ms-flex-pack:center;
                justify-content:center;
        -webkit-box-align:start;
            -ms-flex-align:start;
                align-items:flex-start;
        margin:36px auto 0 auto;
        padding:0 36px;
    }
    .contact li{
        display:block;
        margin:12px 36px;
        width:auto;
    }
    .newsletter{
        margin-top:36px;
    }
    .newsletter__title{
        margin-bottom:21px;
        padding:0 24px;
    }
    .newsletter__form{
        -ms-flex-wrap:wrap;
            flex-wrap:wrap;
        padding:0 24px;
    }
    #mc_embed_signup input.email{
        margin-bottom:12px;
    }
    #mc_embed_signup .clear{
        margin-left:0;
    }
}